<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<title>MA-AVS</title>
<style> body { 	border: 6px solid #071E4A; padding: 10px; }
	

body {background-color: #2596be;}
	 



	

h2 {
  text-align: center;
 
}


</style>


</head>
<body>

<div align="center">
<h1><img src="./ma1.jpg" alt="logo"></img></h1>
<h2><i>Address Verification System</i></h2>
<br /><br />

 

<form action="/home" method="post">
  <input type="text" id="street1" name="street1"><br>
  <input type="text" id="street2" name="street2"><br>
  <input type="text" id="city" name="city"><br>
  <input type="text" id="state" name="state"><br>
  <input type="text" id="zip" name="zip"><br><br>
  <input type="submit" value="Validate Address">
</form>









<footer><h4>Group 10 - Manhattan Associates - Copyright &copy; 2022&nbsp; |&nbsp;<a href="https://www.manh.com/?_gl=1*1xe5lbg*_up*MQ..&gclid=Cj0KCQiAutyfBhCMARIsAMgcRJTlCz3PhQbge7lnji5E0jKMoJrcG34Yuwa91j5bjiO7YHlKaOEVGvcaAohGEALw_wcB&gclsrc=aw.ds">Manhattan Associates</a>&nbsp; |&nbsp; 
 
|&nbsp; <a href="https://coles.kennesaw.edu/information-systems/index.php">IS Department</a>&nbsp; |&nbsp; 
</h4>

</footer> 

</body>
</html>

