<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<title>Manhattan Associates Homepage</title>
<style> body { 	border: 6px solid #071E4A; padding: 10px; }
h1 {text-align: center;}
h2 {text-align: center;}
footer {text-align: center;}



	

body {background-color: #2596be;}
	 	



ul {
  list-style-type: none;
  
text-align: center;
margin: 0;
padding: 0;
  overflow: hidden;
  background-color: #071E4A;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000
;
}

</style>


</head>
<body>
<ul>
  <li><a href="https://www.manh.com/">Home</a></li>
  <li><a href="https://www.manh.com/why-manhattan/awards-and-recognition">News</a></li>
  <li><a href="https://www.manh.com/contact-us">Contact</a></li>
  <li><a href="https://www.manh.com/about-us/glance">About</a></li>
</ul>

<h1><img src="./ma1.jpg" alt="logo"></img></h1>

<div align="center">

<h2><i>Manhattan Associates Homepage</i></h2>
<br><br>
<br><br>
<br><br>
<br><br>
<button onclick="document.location='index.html'">Address Verification</button>
&nbsp&nbsp
<button onclick="document.location='login.html'">Log Out</button>



<footer><h4>Group 10 - Manhattan Associates - Copyright &copy; 2022&nbsp; |&nbsp;<a href="https://www.manh.com/?_gl=1*1xe5lbg*_up*MQ..&gclid=Cj0KCQiAutyfBhCMARIsAMgcRJTlCz3PhQbge7lnji5E0jKMoJrcG34Yuwa91j5bjiO7YHlKaOEVGvcaAohGEALw_wcB&gclsrc=aw.ds">Manhattan Associates</a>&nbsp; |&nbsp; 
 
|&nbsp; <a href="https://coles.kennesaw.edu/information-systems/index.php">IS Department</a>&nbsp; |&nbsp; 
</h4>

</footer> 


</body>
</html>
